:host {
  display: block;
}

.chords {
  display: flex;
  flex-flow: row nowrap;
}

.chord span {
  font-weight: 700;
  color: #9f1212;
}

.chords:not(:has(+ .lyrics:empty)) .chord span {
  font-size: 0.7em;
  line-height: 0.7em;
}

.lyrics {
  white-space: nowrap;
}
