:host {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
  padding: 16px;
  background-color: #ddd;
  flex-grow: 1;

  & > * {
    height: 100%;
    background-color: white;
    flex: 1 0 0;
  }
}

.code {
  resize: none;
  outline: none;
  border: none;
  padding: 8px;
  max-width: 600px;
}

.rendered {
  overflow-y: scroll;
}
