<div class="container">
  <div class="controls">
    <div class="buttons">
      <div class="input input-aspect-ratio"><label for="aspectRatio">Aspect ratio</label>
        <input #aspectRatioInput
               id="aspectRatio"
               type="text"
               class="aspect-ratio"
               [value]="aspectRatio"
               (change)="aspectRatio = aspectRatioInput.value" />
      </div>
      <button (click)="saveAsJpeg()">Save as image</button>
    </div>
    <textarea #codeTA
              name="code"
              id="code"
              class="code"
              (input)="code = codeTA.value"
              [value]="code"></textarea>
  </div>
  <div class="rendered">
    <app-code-renderer [parsedCode]="code | codeParser"
                       [aspectRatio]="aspectRatio"></app-code-renderer>
  </div>
</div>