:host {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  height: 100vh;
  width: 100vw;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 16px;
  background-color: #ddd;
  flex-grow: 1;

  & > * {
    height: 100%;
    background-color: white;
  }
}

.code {
  resize: none;
  outline: none;
  border: none;
  padding: 8px;
}

.rendered {
  overflow-y: scroll;
}
