:host {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
  padding: 16px;
  background-color: #ddd;
  flex-grow: 1;

  & > * {
    height: 100%;
    flex: 1 0 0;
  }
}

.controls {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  gap: 8px;
  max-width: 600px;
}

.buttons {
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.input {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 8px;
}

.buttons,
.code {
  padding: 8px;
  background-color: white;
}

.code {
  resize: none;
  outline: none;
  border: 1px solid transparent;
  flex-grow: 1;
  transition: border-color 200ms ease-in-out;

  &:hover {
    border-color: #616161;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    border-color: #232323;
  }
}

.rendered {
  overflow-y: scroll;
}
